# Python cache and compiled files
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Test and coverage outputs
.coverage

# Local config
.env

# Logs
*.log
*.tmp
*.temp

# Dossiers à ne pas envoyer
__pycache__/
.pytest_cache/
.venv/
tests/__pycache__/
